@tailwind base;
@tailwind components;
@tailwind utilities;

.rainbow {
  background: linear-gradient(
    to right,
    #00e6d8 0,
    #ff00a6 50%,
    #ff2c1c 75%,
    #ffb800 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
